<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--  Зависимости Bootstrap-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

<title>Список задач</title>
</head>
<body>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Job4jTODO</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="/">Все</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/list_new}">Новые</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/list_done}">Выполненные</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <form class="mt-3" method="post" th:object="${task}" enctype="multipart/form-data">
            <input type="hidden" name="id" th:field="*{id}">
            <div class="mb-3">
                <p><h6>Имя:</h6><engl th:text="*{title}"></engl></p>
            </div>
            <div class="mb-3">
                <p><h6>Статус:</h6><engl th:text="*{done}"></engl></p>
            </div>
            <div class="mb-3">
                <p><h6>Дата создания:</h6><engl th:text="*{#temporals.format(created, 'dd-MM-yyyy HH:mm')}"></engl></p>
            </div>
            <div class="mb-3" th:if="${message}">
                <p><h6>Приоритет:</h6><engl class="text-danger" th:text="${message}"></engl></p>
            </div>
            <div class="mb-3" th:if="${priority}">
                <p><h6>Приоритет:</h6><engl th:text="${priority.name}"></engl></p>
            </div>
            <div class="mb-3">
                <p><h6>Категории:</h6><ul th:each="category: *{participates}"><li th:text="${category.name}"></li></ul></p>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <p><h6>Описание:</h6><engl th:text="*{description}"></engl></p>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><a class="btn btn-light w-100" th:href="@{/tasks/getUpdate/{id}(id=${task.id})}">Редактировать</a></div>
                        <div class="col-4"><a class="btn btn-danger w-100" th:href="@{/tasks/delete/{id}(id=${task.id})}">Удалить</a></div>
                        <div class="col-4"><a class="btn btn-success w-100" th:href="@{/tasks/updateDone/{id}(id=${task.id})}">Выполнить</a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>